    /*Глобальные стили*/
body{margin: 0;
    padding: 0;
    
    font-family: "PT sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: black;
    background-image: url(img/Layer.png);
    background-position:  top center;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

    /*Дополнительные стили для страниц::Каталог::*/
.catalog-body .main-header-logo-product{
    margin-bottom: 50px;
    width: 111px;
    height: 24px;
    padding: 23px 20px;
    align-items: flex-start;
}
.catalog-body{
    background-color: ##FCF8F5;
    background-image: url(img/pattern-light.jpg);
    background-repeat: repeat;
    color: #000000; 
    font-weight: 700;
}
.page-title{
    font-size: 30px;
    line-height: 40px;
}
.breadcrumbs{
    list-style: none;
}
.breadcrumbs a{
    color: #000000;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus{
    text-decoration: underline;
}
.breadcrumbs-current{
    color: #aba9a7;
}
.filter {
    width: 180px;
}
.filter fieldset{
    border: none;
} 
.filter legend{
    font-size: 24px;
    line-height: 30px;
}
.filter ul{
    list-style: none;
    line-height: 18px;
}
.filter-option:focus,
.filter-option:hover{
    color: #663D15;
}
.filter-option:disabled{
    color: #000000;
    opacity: 0.5;
}
.catalog{
    width: 700px;
}
.catalog-columns{
    display: flex;
    justify-content: space-between;
}
.catalog-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 25px;
}
.catalog-item{
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.catalog-item:nth-child(3n) {
    margin-right: 0;
}
.catalog-item:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.catalog-category{
    text-transform:  none;
}
.catalog-item a {
    color: #000000;
}
.catalog-item-price b{
    font-size: 14px;
    line-height: 18px;
    background-color: #E5E5E5;
    text-align: center; 
}
.catalog-item-price .button{
    line-height: 20px;
    color: #ffffff;
}
.pagination-list{
    list-style: none;
}
.pagination-item a{
    background-color: #000000;
    color: #ffffff;
}
.pagination-item a:hover{
    background-color: #663D15;
}
.pagination-item-current a{
    background-color: #ffffff;
    color: #000000;
}
.pagination-item-current a:active,
.pagination-item-current a:focus,
.pagination-item-current a:hover{
    color: #000000;
    background-color: #ffffff;
}


    /*Стиль страницы продукта*/
.product-photos{
    width: 460px;
}
.product-info{
    width: 390px;
}
.product{
    background-color: ##FCF8F5;
    background-image: url(img/pattern-light.jpg);
    background-repeat: repeat;
    color: #000000; 
    font-weight: 700;
}
.photo-small{
    list-style: none;
}
.photo-small li{
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.photo-full{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.articul{
    color: #aeaeae;
    text-transform: uppercase;
    text-align: right;
}
.product-info h3{
    font-size: 24px;
    line-height: 30px;
}
.product-info ul{
    list-style: none;
}

/*Стили для Прайс листа*/

.price{
    background-color: ##FCF8F5;
    background-image: url(img/pattern-light.jpg);
    background-repeat: repeat;
    color: #000000; 
    font-weight: 700;
}
h1{
    text-align: center;
}
.manufactures ul{
    list-style: none;
    
}
.manufactures h3{
    font-size: 20px;
    line-height: 30px;
}
.prices-for-services h3{
    font-size: 20px;
    line-height: 30px;
}
.prices-for-services td{
    border: 2px solid #000000;
}

    /*Стили кнопок*/
.button{
    font: inherit;
    
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    
    background-color: #000000;
    border: none;
}
.button:active,
.button:hover,
.button:focus{
    background-color: #663D15;
}
    /*  флекс */
.main-header{
    margin-bottom: 75px;
}
.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-header-logo{
    order: 2;
    height: 153px;
    width: 368px;
}
.main-navigation-wrapper{
    width: 100%;
    margin-bottom: 60px;
    min-height: 70px;
    background-color: #000000;
}
.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;
}

.index-colomns{
    display: flex;
    padding: 50px 80px;
    justify-content: space-between;
    margin: 0;
}


    /*Стили для меню*/
nav .main-navigation{
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    
    background-color: #000000;
}
.site-navigation{
    margin: 0;
    padding: 0;
    min-height: 70px;
    width: 620px;
}
.user-navigation{
    margin: 0;
    padding: 0;
    min-height: 70px;
    width: 140;
}

.site-navigation,
.user-navigation{
    list-style: none;
}
.index-colomns a,
.site-navigation a,
.user-navigation a{
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
    background-color: #242424;
}
    /*Преимущества*/
.features-list{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
}
.feature-item{
    width: 300px;
    margin-bottom: 80px;
    text-align: center;
    width: 300px;
    margin-bottom: 80px;
}
.feature-item h2{
    font-size: 30px;
    line-height: 42px;
}
.index-colomns{
    color: #000000;
    background-color: #f8f5f2;
    background-image: url(img/pattern-light.jpg);
    background-position: 0 0;
    border-image-repeat: repeat;
}
.index-colomns h2{
    font-size: 30px;
    line-height: 42px;
}
    /*Новости*/

.news{
    width: 380px;
    margin: 0;
}
.news-list{
    list-style: none;
}
.gallery{
    width: 300px;
}
.gallery-content{
    background-color: #cccccc ;
    border: 7px solid #ffffff;
}
.appointment{
    width: 300px;
}
.appointment input{
    font: inherit;
    
    background-color: transparent;
    border: 2px solid #000000;
    outline: inherit;
}
.appointment input:focus{
    border-color: #663D15;
}
.contacs{
    width: 380px;
}


    /*Стили футера*/
.main-footer{
    color: #ffffff;
    
    background-color: #212121;
    background-image: url(img/pattern-dark.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    padding: 60px 0;
    margin-top: 65px;
    
}
.main-footer .container{
    display: flex;
}
.footer-contacts{
    width: 320px;
    margin: 0;
    margin-right: 80px;
}
.footer-contacts a{
    text-decoration: underline;
    color: #ffffff;
}
.footer-contacts a:hover{
    text-decoration: none;
}
.footer-social{
    text-align: center;
    width: 145px;
}
.footer-social ul{
    list-style: none;
}
.social-button{
    color: #ffffff;
}
.social-button:hover{
    color: #000000;
}
.footer-dev{
    text-align: center;
    width: 150px;
    margin: 0;
    margin-left: auto;
}
.footer-dev .button:hover{
    background-color: #ffffff;
    color: #000000;
}

    /*Модальные окна*/ 
.modal{
    color: #000000;
    
    background-color: #f8f5f2;
    background-image: url(img/pattern-light.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}
.modal h2{
    font-size: 30px;
    line-height: 42px;
}
.loggin-form input[type="text"],
.loggin-form input[type="password"]{
    color: #000000;
    font: inherit;
    border: 2px solid #000000;
    outline: inherit;
    background-color: #f9f6f3;
    text-transform: uppercase;
}
}
.loggin-form input[type="text"],
.loggin-form input[type="password"]:focus{
    border-color: #663D15;
}
.login-checkbox:hover,
.login-checkbox:focus{
    color: #663d15;
}
.restore{
    color: #000000;
    text-decoration: underline;
}
.restore:hover,
.restore:focus{
    text-decoration: none;
}